<footer class="app-footer">
    <div class="footer-container">
      <div class="footer-section about-us">
        <h3>Sobre Nós</h3>
        <p>Programação para todos, em todos os lugares. NG CodeWeave: ensinando de forma simples e gratuito!</p>
      </div>
      
      <div class="footer-section contact">
        <h3>Contato</h3>
        <ul>
          <li>Email: contato@empresa.com</li>
          <li>Telefone: +55 123 456 789</li>
          <li>Endereço: Av. Exemplo, 123</li>
        </ul>
      </div>
      
      <div class="footer-section legal">
        <h3>Informações</h3>
        <ul>
          <li><a href="#">Política de Privacidade</a></li>
          <li><a href="#">Política de Cookies</a></li>
          <li><a href="#">Termos de Uso</a></li>
          <li><a href="#">Trabalhe Conosco</a></li>
        </ul>
      </div>
    </div>
    
    <div class="footer-bottom">
      <p>&copy; 2023 NG CODEWEAVE - Todos os direitos reservados.</p>
    </div>
  </footer>
  