<!-- menu.component.html -->

<header class="navbar">
    <div class="logo">
      <a href="#">
        <img src="caminho/para/sua/logo.png" alt="Ng CodeWeave">
      </a>
    </div>
    <nav class="navbar-menu">
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/cursos">Cursos</a></li>
        <li><a routerLink="/projetos">Projetos</a></li>
        <li><a routerLink="/blog">Blog</a></li>
      </ul>
    </nav>
    <div class="buttons">
      <a routerLink="/login" class="btn">Login</a>
      <a routerLink="/registrar" class="btn btn-primary">Registrar</a>
    </div>
  </header>
  
