<!-- menu.component.html -->

<header class="navbar" [class.expanded]="isExpanded">
    <div class="logo">
      <a href="#">
        <span>Ng CodeWeave</span>
      </a>
    </div>
    <nav class="navbar-menu">
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/cursos">Cursos</a></li>
        <li><a routerLink="/projetos">Projetos</a></li>
        <li><a routerLink="/blog">Blog</a></li>
        <li><a routerLink="/blog">FAQ</a></li>
      </ul>
    </nav>
    <div class="buttons">
      <a routerLink="/login" class="btn">Login</a>
      <a routerLink="/registrar" class="btn btn-primary">Registrar</a>
    </div>
</header>
  