<section class="destaques">
    <a href="#">
        <div class="destaque">
            <h2>HTML</h2>
            <p>Aprenda a estruturar páginas web</p>
        </div>
    </a>
    <a href="#">
        <div class="destaque">
            <h2>CSS</h2>
            <p>Estilize suas páginas e deixe-as bonitas</p>
        </div>
    </a>
    <a href="#">
        <div class="destaque">
            <h2>JavaScript</h2>
            <p>Adicione interatividade e dinamismo aos sites</p>
        </div>
    </a>
    <a href="#">
        <div class="destaque">
            <h2>Java</h2>
            <p>Linguagem de programação amplamente utilizada para o desenvolvimento de aplicativos.</p>
        </div>
    </a>
    <a href="#">
        <div class="destaque">
            <h2>C#</h2>
            <p>Linguagem de programação da Microsoft usada para o desenvolvimento de aplicativos Windows e .NET.</p>
        </div>
    </a>
    <a href="#">
        <div class="destaque">
            <h2>Angular</h2>
            <p>Framework JavaScript mantido pelo Google para construção de aplicativos da web.</p>
        </div>
    </a>
    <a href="#">
        <div class="destaque">
            <h2>Spring</h2>
            <p>Framework de desenvolvimento de aplicativos Java usado para criar aplicativos corporativos.</p>
        </div>
    </a>
    <a href="#">
        <div class="destaque">
            <h2>Bootstrap5</h2>
            <p>Framework front-end para desenvolvimento ágil e responsivo de sites.</p>
        </div>
    </a>
</section>
