/* You can add global styles to this file, and also import other style files */
/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  /* Outros estilos globais que você possa precisar */
  